/*--------------------ETIQUETAS UNIVERSALES------------------------*/
body,html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
    /* height: 100em; */
    font-family: 'Patrick Hand', cursive;
    
}

a{
    text-decoration: none;

}
li,ul{
    padding: 0;
    display: inline-block;
    list-style: none;
    margin: 0;
}


/* -------------------GRID---------------------- */
.grid{
    height: 100%;
    width: 90%;
    max-width: 93.75em;
    margin: 20px auto;
    /* height: 100vh; */
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    gap: 35px;

}
.grid__register{
    height: 100%;
    display: grid;
    grid-template-areas: 
    "headerr headerr headerr"
    "mainr mainr mainr"    
    ;
}
.grid__tienda{
    height: 100vh;
    width: 90%;
    max-width: 93.75em;
    margin: 20px auto;
    display: grid;
    height: 100%;
    grid-template-areas: 
    "header header header"
    "maint maint maint"
    "footer footer footer";
}
/* --------------------HEADER----------------- */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: header;
    background-color: rgb(63, 78, 79);
    /* outline: thick double wh; */
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.header__register{
    background-color: #FFB6AE;
    height: 100%;
    grid-area: headerr;
}
/*------------------------ICONO NAVBAR--------------*/
.header__navbar{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.header__icons--navbar{
    height: 15px;
    
}

.gg-menu {
    color:rgba(255, 255, 255, 0.7);
    transition: 1.5s;
}
.gg-menu:hover{
    transform: rotate(360deg);
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}
/*-----------------TITULO DE LA PAGINA------------------*/
.enlace,.header__title{

    margin: 0;
    font-size: 2em;
    letter-spacing: 0.5em;
    align-self: center;
    justify-self: center;
    -webkit-text-stroke: 0.5px black;
    color:white;
    transition: 0.5s;
    
}

.header__title:hover{
    letter-spacing: 0.6em;

}
/*----------------CONFIGURACION GENERAL DE LOS ICONOS--------------- */
.header__icons{
    justify-content: end;
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}
.header__icons--account,.header__icons--bag{
    height: 30px;
    width: 30px;
}
/*------------------------------------ICONO DE TIENDA------------------------  */
.gg-shopping-bag {
    color:rgba(255, 255, 255, 0.7);
}
.gg-shopping-bag,
.gg-shopping-bag::after {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px
}
.gg-shopping-bag::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top: 0;
    top: 2px;
    left: 3px
}
/*-------------------ICONO DE PERFIL--------------------------------------- */

.gg-profile,
.gg-profile::after,
.gg-profile::before {
    transition: 1.5s;
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    color:rgba(255, 255, 255, 0.7);
    width: 22px;
    height: 22px;
    position: relative
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px

}
.gg-profile:hover{
    transform: rotate(360deg);
}
/* ---------------SECCION MAIN-------------- */
.main{
    display: grid;
    grid-area: main;
    grid-template-rows: repeat(2,1fr);
    height: 200vh;
    --variable--color: white;
    gap: 10px;
    
}


/* -------------REGISTER--------------------- */
.main__register{
    display: flex;
    grid-area: mainr;
    height: 100vh;
}
.main__form{
    border-radius: 10%;
    outline: thick double #FFB6AE;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 0px 70px rgba(102, 102, 102, 0.2);
    align-self: center;
    height: 100%;
    margin: 20px auto;
    width: 50rem;
    max-width: 27rem;
    max-height: 31.25rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 0.2fr 1fr;
}
.form__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
}
.form__restablecimiento--contraseña{
    color: purple;
}
.email,.password{
    display: flex;
    justify-content: space-around;
    font-family: 'Patrick Hand', cursive;
}
.email>input{
    margin-left: 2.1875rem;
}


.main_div {
    --color: #FFB6AE ;
    position: relative;
    z-index: 1;
   }
   
.main_div::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -7px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s;
   }
   
.main_div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -7px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s;
   }
   
.main_div:hover::before {
    width: 100%;
    height: 100%;
   }
   
.main_div:hover::after {
    width: 100%;
    height: 100%;
   }
   
.main_div button {
    padding: 0.7em 2em;
    font-size: 16px;
    background: aliceblue;
    color: black;
    border: none;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;;
   }
/*---------- */

.maint{
    height: 100vh;
    max-height: 50rem;
    margin: 10px;
    grid-area: maint;
    display: grid;

}

.main__section--tarjetas{
    max-height: 50rem;
    height: 100vh;
    margin: 10px;
    display: grid;
    grid-template-areas: 
    "tarj1  tarj4 tarj5 tarj6"
    "tarj1  tarj4 tarj5 tarj6" 
    "tarj1  tarj4 tarj5 tarj6"
    "tarj9  tarj9 tarj9 tarj9";
    gap: 10px;
}

/* TARJETAS----TIENDAS*/
.contenedort{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor__tarjeta1{
    background-image: url(https://archzine.es/wp-content/uploads/2020/06/conjuntos-tumblr-los-mejores-ejemplos-de-ropa-en-este-estilo-zapatillas-blusa-en-color-verde-neon-ropa-tumblr-chicas.jpg);
    background-size: cover;
    background-color: gray;
    height: 300px;
    width: 300px;
    transition: 1s;
    margin: 20px;
    /* border: white 2px groove; */
}
.contenedor__tarjeta1:hover{
    border-radius: 1%;
    box-shadow: gray 10px 10px 10px;
    transform:scale(1.2);
    transform:translate(10px,-20px);
    opacity: 0.8;
  
}
.contenedor__tarjeta2{
    margin: 20px;
    background-image: url(https://archzine.es/wp-content/uploads/2020/06/conjuntos-tumblr-los-mejores-ejemplos-de-ropa-en-este-estilo-zapatillas-blusa-en-color-verde-neon-ropa-tumblr-chicas.jpg);
    background-size: cover;
    background-color: gray;
    height: 300px;
    width: 300px;
    transition: 1s;
    /* border: gray 2px groove; */
}
.contenedor__tarjeta2:hover{

    border-radius: 1%;
    box-shadow: gray 10px 10px 10px;
    transform:scale(1.2);
    opacity: 0.8;
    transform:translate(10px,-20px);
  
}
.contenedor__tarjeta3{
    margin: 20px;
    background-image: url(https://archzine.es/wp-content/uploads/2020/06/conjuntos-tumblr-los-mejores-ejemplos-de-ropa-en-este-estilo-zapatillas-blusa-en-color-verde-neon-ropa-tumblr-chicas.jpg);
    background-size: cover;
    background-color: gray;
    height: 300px;
    width: 300px;
    transition: 1s;
    /* border: gray 2px groove; */
}
.contenedor__tarjeta3:hover{

    border-radius:1%;
    box-shadow: gray 10px 10px 10px;
    transform:scale(1.2);
    opacity: 0.8;
    transform:translate(10px,-20px);
}
.contenedor__tarjeta4{
    margin: 20px;
    background-image: url(https://archzine.es/wp-content/uploads/2020/06/conjuntos-tumblr-los-mejores-ejemplos-de-ropa-en-este-estilo-zapatillas-blusa-en-color-verde-neon-ropa-tumblr-chicas.jpg);
    background-size: cover;
    background-color: gray;
    height: 300px;
    width: 300px;
    transition: 1s;
    /* border: gray 2px groove; */
}
.contenedor__tarjeta4:hover{

    border-radius: 1%;
    box-shadow: gray 10px 10px 10px;
    transform:scale(1.2);
    opacity: 0.8;
    transform:translate(10px,-20px);
}
.contenedor__tarjeta5{
    margin: 20px;
    background-image: url(https://archzine.es/wp-content/uploads/2020/06/conjuntos-tumblr-los-mejores-ejemplos-de-ropa-en-este-estilo-zapatillas-blusa-en-color-verde-neon-ropa-tumblr-chicas.jpg);
    background-size: cover;
    background-color: gray;
    height: 300px;
    width: 300px;
    transition: 1s;
    /* border: gray 2px groove; */
}
.contenedor__tarjeta5:hover{
    border-radius: 1%;
    box-shadow: gray 10px 10px 10px;
    transform:scale(1.2);
    opacity: 0.8;
    transform:translate(10px,-20px);

}

/* --------------TARJETAS--------------------- */
.tarj1{
    grid-area: tarj1;
    background-color:var(--variable--color);
    background-image: url(./images/lujogris.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s;
    border: solid black 1px;
}
.tarj1:hover{
    background-image: url(./images/vestidobla.png);
    transform: translateY(-10px) scale(1.05);
    /* opacity: 0.5; */

}



.tarj2{
    background-color:var(--variable--color);
    background-image: url(./images/formal-removebg-preview.png);
    grid-area: tarj4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid black 1px;
    border-radius: 1%;
    transition: all 2s;
    position: relative;
    
    

}
.tarj2:hover{
    background-image: url(./images/formalinda-removebg-preview.png);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;;

}

.aqe{
    position: absolute;
    display: block;
    inset: 0;
    z-index: 0;
}
.aqe::before{
    content: "";
    /* background-color: black; */
    width: 300px;
    height: 300px;
    position:absolute;
}

.tarj3{
    background-color:var(--variable--color);  
    grid-area: tarj5;
    background-image: url(./images/Deprotiva.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s;
    border: solid black 1px;
    border-radius: 1%;
 
}
.tarj3:hover{
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;;
    background-image: url(./images/deportiva2.png);
    
}


.tarj4{
    background-color:var(--variable--color);
    grid-area: tarj6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 2s;
    border: solid black 1px;
    border-radius: 1%;
    background-image: url(./images/deportivoazule.png);
    

}

.tarj4:hover{
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
    background-image: url(./images/deportivogris.png);
    
}
/*------------------------SECCION FOOTER--------------------------*/
.footer{
    grid-area: footer;
    opacity: 1;
    height: 100vh;
    /* background-color: aqua; */
    font-size: 1.5rem;
}
.footer__social--networks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
.social__networks>h2,h1{
    color: black;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 3px;
}
.social__networks>h1{
    display:none;
}
.social__networks{
    align-items: center;
    justify-content: center;
    display: flex;
}
.elemento__link{
    
    font-size: 0.8em;
}
.links__elemento{
    display: flex;
    justify-content: center;
}
.copyright{
    display: flex;   
    justify-content: center;
}
.copyright--txt{
    font-size: 0.5em;
}
/* --------------------------ICONOS--------------- */
/* ----------------------- ICONO INSTAGRAM------------- */
.gg-instagram {
    margin: 0px 25px 0px 25px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}
.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}
/*---------ICONO FACEBOOK------------ */
.gg-facebook {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.gg-facebook::after,
.gg-facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}
.gg-facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
}
.gg-facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
}